/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*Making variables for the colors*/

:root {
  --blue: #233843;
  --white: #F7F7F7;
  --orange: #D69300;
  --red: #BE0903;
}


  body {
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--blue);
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }


/* Style the header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: var(--orange);
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.headertitle {
  position: absolute;
  width: 390px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--blue)
}

.listicon {
  width: 28px;
  height: auto;
}

.backbutton {
  margin-left: 20px;
}

/*Big Plus ? button*/
.bigplus {
  position: fixed;
  bottom: 20px;
  right: 20px;

}

.bigplusimage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: auto;
}

/* Hot n cold */

.hot-n-cold {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}

.hot-n-cold-card {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90vw;
  height: 20vw;
  height: auto;
  background-color: var(--white);
  text-align: center;

}

.hot-n-cold-label{
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}

/*Tab styling*/

.tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border: 2px solid var(--white);
  border-radius: 30px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.tab{
  text-align: center;
  padding: 4px;
  width: 150px;
}

.tab :active{
  background-color: var(--orange) !important;
  color: var(--white) !important;
  border: 2px solid var(--white) !important;
  border-radius: 30px !important;
}

.react-tabs__tab--selected{
  background-color: var(--orange) !important;
  color: var(--white) !important;
  border: 2px solid var(--white) !important;
  border-radius: 30px !important;
}

.tabpanel{
  margin-top: 20px;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}


/*Dialog*/

.dialog{
height: 900px;
font-family: lato, sans-serif;
font-weight: 400;
font-style: normal;
}

.dialogtitle{
font-weight: bold !important;
font-family: lato, sans-serif !important;
font-style: normal !important;

}

.dialogheader{
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.dialogcontent{
  height: 800px;
}

/*Components List*/

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.listitem{
  padding: 15px;
  background-color: var(--white);
  color: var(--blue);
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.checked-item,
.not-checked-item {
  margin-left: 10px;
  padding: 15px;
  background-color: white;
}

.checked-item {
  text-decoration: line-through;
}


.nolist{
  padding: 15px;
  background-color: var(--red);
  margin-left: auto;
  margin-right: auto;

  margin: 20px;
}
